body{
    background-color: #1D29AF;
    text-align: center;
    margin: auto;
   
}

img{
   width: 99px; 
   height:115px; 
   transform: translate(-850px,16px);
  
}

h1{
    color: #FFFF;
    text-align: center;
  font-size: 64px;  
  text-shadow: 0 2px 8px #000000;
    padding: 20px;
    position:relative;
    top: -115px;
    
}