body{
    background-color: #1D29AF;
    margin: auto;
}

img{
   width: 60px; 
   height: 60px; 
  
}



div{
  display:flex;
  background-color: #D9D9D9;
  height: 108px;
  width: 100%;
  justify-content: center;
  

}

h1{
    color: black;
    font-size: 20px;
    
} 


#search-bar{
  width: 847px;
  height: 43px;
  
  
}
