*{
    font-family: 'Sans';
}
<<<<<<< HEAD
=======
h1{
    color: #FFFF;
    text-align: center;
    position: relative;
    
    font-size: 50px;  
    text-shadow: 0 2px 8px #000000;
    
    
}


body{
    background-color: #1D29AF;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

label{
    color: white;
    font-size: 14px;
   

}

.ID_Container{
    background-color: #5076ab;
    width: 1000px;
    height: 1000px;
    margin: 20px;
    text-align: center;
    align-content: center;
   
}

input[type="number"]{
    width: 377px;
    height: 60px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    box-sizing: border-box;
    top: -50px; 
    position: relative;

}

input[type="submit"]{
    position: relative;
    bottom: -250px;
    width: 200px;
    height: 94px;
    background-color: #CD7116;
    font-size: 28px;
    border-radius: 15px;
}
#studentid_txt{
    position: relative;
    top: -380px;
    font-size: 36px;
    
}

#s_leveltxt{
    position: relative;
    top: -100px;
    font-size: 25px;
}

select {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    position: relative;
    top: -50px;
}



div{
    position: relative;
    bottom: -250px;
    
    
    font-family: 'Sans', sans-serif;
}

>>>>>>> c7fda64410ce9d8d934ce98d8500a13fa88780d2

@font-face {
    font-family: 'Sans';
    src: url(fonts/SourceSerif4-VariableFont_opsz\,wght.ttf);
    font-weight: 500;
}

body{
    background-color: #1D29AF;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

h1{
   font-size: 64px;
   color: white;
   text-shadow: 0px 4px 4px black;

}

.sidebar{
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    gap: 10px;
    background-color: white;
    height: 100%;
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 15px;
    padding-right: 15px;
}

#aclclogo{
    width: 87px ;
    height: 135px;
}

p{
    color: white;

}

#Enter_id{
    font-size: 20px;
}

#id-verf{
    font-size: 32px;
   
}

.Form_id{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;

}

.ID_Container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 366px;
    min-height: 357px;
    background-color: #5076ab;
    border-radius: 28px;
    gap: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 28px;
    padding-bottom: 10px;
    position: relative;
    bottom: -150px;
}

#studentid_databases{
    width: 313px;
    height: 38px;
    border-radius: 15px;
}

#s_level{
    width: 313px;
    height: 22px;
    font-size: 12px;
    border-radius: 6px;
}

#submit_id{
    font-size: 20px;
    background-color: #D0373A;
    color: white;
    width: 313px;
    height: 39px;
    border-radius: 15px;
}


img{
    position:relative;
    width: 500px;
    height: 500px;
    left: -650px;
    top: -35px;

}








